html,
body,
#root,
.App {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Gothic+A1:wght@400;700&family=Gugi&family=Lobster&family=Merriweather:ital,wght@1,400;1,700&family=Nanum+Myeongjo:wght@700;800&display=swap');

@font-face {
  font-family: 'Myeongjo30';
  src: url('../fonts/210\ 수필명조OTF\ 030.otf');
}
@font-face {
  font-family: 'Myeongjo50';
  src: url('../fonts/210\ 수필명조OTF\ 050.otf');
}

@font-face {
  font-family: 'Myeongjo10';
  src: url('../fonts/210\ 수필명조OTF\ 010.otf');
}
@font-face {
  font-family: 'Myeongjo20';
  src: url('../fonts/210\ 수필명조OTF\ 020.otf');
}

@font-face {
  font-family: 'InkLipquid';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body, #root, .App {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ink {
  font-family: InkLipquid;
}

.myeongjo10 * {
  font-family: Myeongjo10;
}
.myeongjo20 * {
  font-family: Myeongjo20;
}
.myeongjo30 * {
  font-family: Myeongjo30;
}
.myeongjo50 * {
  font-family: Myeongjo50;
}

.large-text {
  font-size: x-large;
}
.BgImage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/MainPage2.jpg);

  background-size: contain; /* 변경: cover에서 contain으로 */
  background-position: center center; /* 가운데 정렬 */
  background-repeat: no-repeat; /* 배경 이미지 반복 없음 */

  z-index: 1;
}
/* .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* MainPage {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url(./img/MainPage2.jpg);
  background-size:cover; /* 변경: contain에서 auto로 */
/* background-position: 0% 30%; /* 배경 이미지의 x, y 좌표를 원하는 위치로 설정 */
/* background-repeat: no-repeat;
} */

/*짱입니다!!!!!*/
.MainBox {
  /*border: 2px solid white;*/
  padding: 20px;
  /*width: 500px;
  height: 500px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.MainText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: aliceblue;
  font-size: 80px;
  font-family: 'Myeongjo30';
}
.MainButton {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.PostImage {
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: 2;
}

.ModalContainer {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border: 4px solid #ffffff;
  padding: 20px;
  box-sizing: border-box;
  background-color: transparent;
  width: 590px;
  height: 627px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.ModalTitle {
  position: absolute;

  margin-top: 5%;
  left: 30%;
  top: 10%;
  font-family: 'InkLipquid';
  display: block;
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 68px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.ModalSubTitle {
  display: flex;
  font-size: 25px;
  margin-right: 10px;
  color: #fff;
  font-family: 'Myeongjo30';
  margin-left: -7%;
}

/* .LoginButtonContainer {
  display:flex;
  justify-content: space-between;
  margin-top: 20px;
}
.ModalInputContainer{
  margin-top: 12%;
  position: absolute;
  top:25%;
  left:30%;
  width: 1000px; 
}
.ModalID,.ModalPW{
  display: flex;
  align-items: center;
  margin-top: 10%;
}

 .ModalId{

  width:300px;
  margin-left: 10%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;

}
.ModalPw{
width:300px;
  margin-left: 3%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;

.PostContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.PostImage1 {
  position: absolute;
  width: 150px;
  height: 150px;
  object-fit: cover;
  top: 30%;
  left: 15%;
  z-index: 1;
}

.PostImage2 {
  position: absolute;
  width: 150px;
  height: 150px;
  object-fit: cover;
  top: 30%;
  left: 45%;
  z-index: 1;
}

.PostImage3 {
  position: absolute;
  width: 150px;
  height: 150px;
  object-fit: cover;
  top: 30%;
  left: 75%;
  z-index: 1;
}

.PostBackGround {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

.PostImage1-clicked {
  transform: perspective(500px) rotateX(20deg) scale(3); /* 이미지 크기를 조절할 수 있습니다 */
  transition: transform 0.5s ease-in-out; /* 0.5초 동안 애니메이션 효과가 지속됩니다 */
}
.SignupContainer {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border: 4px solid #ffffff;
  padding: 20px;
  box-sizing: border-box;
  background-color: transparent;
  width: 590px;
  height: 627px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.SignupInputContainer {
  margin-top: 4%;
  position: absolute;
  top: 25%;
  left: 15%;
  width: 400px;
}
.SignupTitle {
  position: absolute;

  margin-top: 1%;
  left: 30%;
  top: 10%;
  font-family: 'Myeongjo30';
  display: block;
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 68px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}
.SignupEmail,
.SignupName,
.SignupClass,
.SignupId,
.SignupPw {
  display: flex;
  align-items: center;
  margin-top: 4%;
}

/* header{

  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
  
} */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(0 100% 100% / 0.5);
}

.navbar .verticalcenter {
  margin-top: auto;
  margin-bottom: auto;
}

.navbar .horizontalcenter {
  margin-left: auto;
  margin-right: auto;
}

html {
  background-image: url('./loginpage.png');
  background-size: cover;
}
navbar-start {
  color: white;
}
.white {
  color: white;
}
.navbar-container {
  text-align: center;
  background-color: hsl(0 100% 100% / 0);
  box-shadow: 0px -20px 5px 20px #333333;
  padding: 10px;
  font-size: 0;
}

.navbar-container ul {
  margin: 0;
  padding: 0;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}

.navbar-container navbar-start ul li {
  display: inline-block;
  font-size: 16px;
}

.navbar-container navbar-end ul li {
  display: inline-block;
  font-size: 16px;
}

.navbar-container navbar-start ul li a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: color 0.5s;
}

.navbar-container navbar-end ul li a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: color 0.5s;
}

.navbar-container ul li .underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
  width: 100%;
  background-color: white;
}

.navbar-container ul li:hover .underline {
  background-color: white;
  width: 100%;
}

/* .navbar-container ul li:hover a {
} */

.navbar-container ul li:active a {
  transition: none;
  color: rgba(255, 255, 255, 0.76);
}

.navbar-container ul li:active .underline {
  transition: none;
  background-color: rgba(255, 255, 255, 0.76);
}
